{% extends "parent.html.twig" %}

{% block title %}JoinHearthstone page{% endblock %}

{% block body %}

  <section id="main-content" class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
<p class="entry-content">
    {{ text }}
</p>
        </div>
    </div>

    </div><!-- /.container -->
  </section><!-- /#main-content -->

{% endblock %}