{% extends "parent.html.twig" %}

{% block title %}Submit Game{% endblock %}

{% block body %}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<p> Warning: wins from one player are loses to the other player. </p>

{% endblock %}