{% extends "parent.html.twig" %}

{% block title %}JoinHearthstone contact page{% endblock %}

{% block body %}

  <section id="main-content" class="main-content">
    <div class="container">
       <!-- Feature Row -->
        <div class="row">
            <article class="col-md-4 article-intro">
                <a href="#">
                    <img class="img-responsive img-rounded" src="{{ asset('imgs/350x300/GrandTournament01.jpg') }}" alt="">
                </a>
                <h3>
                    <a href="#">Efficiently Unleash</a>
                </h3>
                <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
            </article>
            <article class="col-md-4 article-intro">
                <a href="#">
                     <img class="img-responsive img-rounded" src="{{ asset('imgs/350x300/GrandTournament03.jpg') }}" alt="">
                </a>
                <h3>
                    <a href="#">Completely Synergize</a>
                </h3>
                <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.</p>
            </article>

            <article class="col-md-4 article-intro">
                <a href="#">
                     <img class="img-responsive img-rounded" src="{{ asset('imgs/350x300/GrandTournament02.jpg') }}" alt="">
                </a>
                <h3>
                    <a href="#">Completely Synergize</a>
                </h3>
                <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.</p>
            </article>



              </div>
        <!-- /.row -->


    </div><!-- /.container -->
  </section><!-- /#main-content -->

{% endblock %}