{% extends "parent.html.twig" %}

{% block title %}JoinHearthstone FAQs page{% endblock %}

{% block body %}

  <section id="main-content" class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <article class="post type-post">
            <div class="post-head media">
              
              <div class="media-body">
                <h1 class="entry-title">FAQs</h1><!-- /.entry-title -->
                
                <div class="post-meta">
                  <div class="entry-meta">
                    
                   
                  </div><!-- /.entry-meta -->
                </div><!-- /.post-meta -->
              </div>
            </div><!-- /.post-head -->

            <div class="post-content">
              <div class="post-thumbnail">
                <img src="{{ asset('imgs/joinhearthstone_banner.jpg') }}" alt="post Image">
              </div><!-- /.post-thumbnail -->
              <p class="entry-content">
              	<br/> <br/>
                 
  <br/>
  

<h2>Preguntas generales</h2>

<h3>¿Hay premios?</h3>
<p>Actualmente no contamos con ningún patrocionador que pueda ofrecer premios por lo que la única recompensa es subir d ecategoría para enfrentarse a jugadores aún mejores. </p>



<br/> <br/>
<h2>Jugadores</h2>

<h3>¿Cómo puedo ver los encuentros que tengo que disputar y contra quien?</h3>
<p> Ve a la opción Calendario de la página principal e introduce tu email y tu clave. </p>

<h3>¿Cómo doy de alta los resultados de un encuentro?</h3>
<p> A través del formulario de tu zona privada o a través del correo de incidencias de JoinHearthstone </p>


<br/> <br/>
<h2>Sobre nosotros</h2>

<h3>¿Quién orgniza la liga JoinDota?</h3>
<p>Nosotros.</p>

<h3>¿Cómo puedo colaborar?</h3>
<p>Puedes colaborar de varias maneras, por ejemplo ayudando en el diseño, creando contenido gráfico (bajo licencia Creative Commons), mejorando el código fuente d ela plataforma, etc.</p>

<h3>¿Cómo se ha implenetado JoinHearthstone?</h3>
Usando PHP5.x y Symfony 3.X. Tienes el código fuente disponible aquí: XXX

<h3>¿Aceptáis donaciones?</h3>
No directamente. Si quiéres donar algo ofrécelo como premio a los jugadores de JoinHearthstone. Estamos abiertos a ideas imaginativas y originales.

<div class="post-thumbnail">
  <br/>
                <img src="{{ asset('imgs/joinhearthstone_banner.jpg') }}" alt="post Image"/>
       <br/>
              </div>


              </p><!-- /.entry-content -->
              
            </div><!-- /.post-content -->
          </article><!-- /.type-post -->

          	 </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /#main-content -->

{% endblock %}