{% extends "parent.html.twig" %}

{% block title %}JoinHearthstone main page{% endblock %}

{% block body %}

  <section id="main-content" class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <article class="post type-post">
            <div class="post-head media">
              <div class="entry-date media-left text-center">
                <time datetime="2015-06-10">July <span>12</span></time>
              </div><!-- /.entry-date -->
              <div class="media-body">
                <h2 class="entry-title">Empezamos en mayo</h2><!-- /.entry-title -->
                
                <div class="post-meta">
                  <div class="entry-meta">
                    
                   
                  </div><!-- /.entry-meta -->
                </div><!-- /.post-meta -->
              </div>
            </div><!-- /.post-head -->

            <div class="post-content">
              <div class="post-thumbnail">
                <img src="{{ asset('imgs/joinhearthstone_banner.jpg') }}" alt="post Image">
              </div><!-- /.post-thumbnail -->
              <p class="entry-content">
              	<br/> <br/>
                A handkerchief must be tied over the eyes of some one of the party who has volunteered to be blind man; after which he is turned round three times, then let loose to catch any one he can.
               
              </p><!-- /.entry-content -->
              
            </div><!-- /.post-content -->
          </article><!-- /.type-post -->

          	 </div><!-- /.row -->



       <!-- Feature Row -->
        <div class="row">
            <article class="col-md-4 article-intro">
                <a href="#">
                    <img class="img-responsive img-rounded" src="{{ asset('imgs/350x300/GrandTournament01.jpg') }}" alt="">
                </a>
                <h3>
                    <a href="#">Efficiently Unleash</a>
                </h3>
                <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
            </article>
            <article class="col-md-4 article-intro">
                <a href="#">
                     <img class="img-responsive img-rounded" src="{{ asset('imgs/350x300/GrandTournament02.jpg') }}" alt="">
                </a>
                <h3>
                    <a href="#">Completely Synergize</a>
                </h3>
                <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.</p>
            </article>

              </div>
        <!-- /.row -->


    </div><!-- /.container -->
  </section><!-- /#main-content -->

{% endblock %}