{% extends "parent.html.twig" %}

{% block title %}JoinHearthstone main page{% endblock %}

{% block body %}

  <section id="main-content" class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <article class="post type-post">
            <div class="post-head media">
              <div class="entry-date media-left text-center">
                <time datetime="2015-06-10">July <span>12</span></time>
              </div><!-- /.entry-date -->
              <div class="media-body">
                <h1 class="entry-title">Reglamento</h1><!-- /.entry-title -->
                
                <div class="post-meta">
                  <div class="entry-meta">
                    
                   
                  </div><!-- /.entry-meta -->
                </div><!-- /.post-meta -->
              </div>
            </div><!-- /.post-head -->

            <div class="post-content">
              <div class="post-thumbnail">
                <img src="{{ asset('imgs/joinhearthstone_banner.jpg') }}" alt="post Image">
              </div><!-- /.post-thumbnail -->
              <p class="entry-content">
              	<br/> <br/>
                 
  <br/>
  

<h2>Estructura de la liga</h2>
<ul>
<li>
La liga se organiza en temporadas de una duración aproximada de 2 meses. 
<li> En cada temporada los jugadores se organizarán en categorías y cada categoría se subdivide en grupos.
<li> Al comienzo d ecada temporada se hará público un calendario de encuentros.
</ul>

<h2>Inscripciones:</h2>
<ul>
<li/>Para la participación en cualquier evento online es necesario el tener indicado en la configuración del perfil el Game ID (BattleTag) correspondiente. Es responsabilidad de cada jugador que el valor indicado en cada caso sea correcto. Tener un Game ID erroneo supondrá la no participación del jugador en la temporada.
<li/> El GameID d eun jugador se hará público solo para los jugadores con los que tenga que jugar en una temporada. El correo electrónicod e los jugadores nunca se hará público.

<li/>Una persona física solo puede estar registrada una única vez con un único Game Id y una única dirección de correo elevtrónico. Cualquier intento de multicuenta será sancionado con la epxulsión inmediata sin ninguna excepción.
</ul>



<h2>Celebración:</h2>
<ul>
<li/>Todos los encuentros tendrán un día y una hora asignada.
<li/>Los jugadores pueden ponerse de acuerdo para disputar los encuentros cualquier otro día a cualquier hora. Si no existiera acuerdo entre ambos jugadores, los encuentros deben disputarse el día y hora asignada.
<li/> Se conceden 15 minutos de cortesía a ambos jugadores para comenzar el encuentro. Si depsués de ese tiempo uno d elos jugadores no s ehubiera presnetado,s e cocnede la victoria al otro jugador con un reusltado de 2-0. Si ambos jugadores no se presentan, se concede la derorta a ambos jugadore spor 0-2.
<li/>El ganador de una partida debe realizar una captura de pantalla con el reusltdo de la misma. Estas capturas pordrán ser requerida si existiera algún tipo de reclamación sobre la partida.
<li/>El jugador que haya ganado 2 o 3 partidas del encuentro debe comunicar el resultado a la plataforma en un plazo no superior a 24 horas tras su finalización. 
<li/>Cuando ambos jugadores mueren en el mismo turno, se considera que ambos han perdido la aprtida.

<li/>Cada jugador debe asumir las conscuencias de sus desconexiones. No existe obligación de suspender o repetir una aprtida por desconexión de uno de los jugadores.

<li/>Las partidas de un encuentro pueden suspender si ambos jugadores están de acuerdo y pactan un nuevo día y hora d ecelebración. En ese caso, los heroes y vetos del formato Conquest se continuarán aplicando tal y como quedaron antes de la suspensión.
<li/>En caso de que un jugador no pueda continuar con el encuentro y no se llege a un acuerdo, se le dará por perdida la partida.
</ul>

<h2>Formato:</h2>
<ul>
<li/>El formato de todas las categorías, menos la categoría Starter, será Conquest, a 3 partidas y un veto de clase. Un jugador obtiene un punto por partida ganada.
<li/>Todos las partidas se disputarán en formato Standar. Si un jugador utiliza una carta de Wild perderá la partida instantáneamente.  
<li/>Antes de comenzar el encuentro, ambos jugadores prepararan 4 mazos de cuatro clases distintas. Cada jugador informará al oponente de las cuatro clases y dicha clase no podrá ser utilizada en el encuentro.
<li/>Cada jugador prohibirá una clase y dicha clase no pdorá ser jugada por su oponenete.
<li/>El jugador que gane un encuentro no podrá volver a utilizar dicho mazo. El juagdor que pierda pdorá cambiar de clase o usar la misma.
</ul>

<div class="post-thumbnail">
  <br/>
                <img src="{{ asset('imgs/joinhearthstone_banner.jpg') }}" alt="post Image"/>
       <br/>
              </div>

<h2>Organización y ascensos:</h2>
<ul>
<li/>Al final de cada temporada los jugadores que queden en las primeras posicines de sus categorías serán ascendidos a las categorías superiores y los jugadores en las últimas posiciones serán rehubicados en categorías inferiores.
<li/> Los jugadores que queden en las últimas posiciones serán recolocados en categorías inferiors.
<li/> Al comienzo de cada temporada se informará d elas posicones de ascenso y desenso de cada grupo, así como la existencia de ligas de promoción (si las hubiera) como paso previo a ascensos y descensos.
<li/> En caso de empate entre varios, se desempatará en función del reusltado del encuentro disputado entre los jugadores empatados. Si el empate continuara, las posiciones se decidirán de manera aleatoria.
</ul>

<h2>La Forja:</h2>
<ul>
<li>La Forja es la categoría dónde juegan todos los que están empezando en Hearthstone y tienen una colección de cartas muy limitadas. </li>
<li/>Para cada encuentro en La Forja tambiçen se disputan 3 partidas. No hay prohibición, cada jugador puede utilizar la clase y el mazo que considere conveniente.
<li/>Al final de cada partida, los jugadores pueden cmabiar de mazo libremente, pero deben informar al oponente antes de comenzar la partida la nueva clase que van a utilizar.
<li/> Ningún mazo utilizado en La Forja puede tener más de una carta legendaria ni más de 2 épicas distintas (se permiten 4 épica ssiempre que sean 2 copias de 2 epicas).
<li/> No existe el ascenso desde La Forja. Cualquier jugador que quiera abandonar esta categoría para comenzar la nueva temporada en otra categoría debe indicarlo a la administración.
</ul>

<h2> Inactividad y congelación: </h2>
<ul>
<li/> Todo jugador que no participe en, al menos un partido durante la tempoarada perderá su cuenta y su progresión.
<li/> Si un jugador no puede disputar una temporada, debe indicarlo como incidencia para que su cuenta sea congelada. 
<li/> Una cuenta congelada no permite participar en tempoaradas, pero no pierde su progreso. 
</ul>

<h2> Miscelanea: </h2>
<ul>
<li/> Está permitido stremear cualquier partido . si un encuentro s eva a estrear, ambos jugadores deben estarinformados de ello y ninguno puede negarse. 
<li/> Se permite el uso de Hearthstone Deck Tracker y programas con una función similares. El uso de otro tipo de programa sno está pemritido y puele conllevar la expulsión del jugador de la tempoarada.
<li/> La competición se dispurtará en los servidores de europa.
<li/> Está terminantemente prohibido utilizar lenguaje inadecuado u oefsnvio entre las comunicaciones netre jugadores. Los jugadores pueden ser expulsados de la plataforma por este motivo. No se penalizará el uso continuado de mensajes predefinidos durante una partida.
<li/> Todas las disputas serán resueltas por la organización de la liga, previa consulta de todas las partes implicadas. La organización se reserva el derecho de ajustar este reglamento según los imprevistos que puedan surgir durante una temporada.
</ul>           
              </p><!-- /.entry-content -->
              
            </div><!-- /.post-content -->
          </article><!-- /.type-post -->

          	 </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /#main-content -->

{% endblock %}